
@{
    ViewBag.Title = "Visits";
}

@{
    List<DataContract.Objects.Visit> visits = ViewBag.Visits;
    List<DataContract.Objects.Guest> guests = ViewBag.Guests;
    List<DataContract.Objects.Guard> guards = ViewBag.Guards;
}
<div class="container">
    <h2>Visits:</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Visit Date:</th>
                    <th>Ongoin:</th>
                    <th>Visitor:</th>
                    <th>Is approved:</th>
                    <th>Visit approved by:</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (DataContract.Objects.Visit visit in visits)
                    {
                        if (visit.IsOver)
                        {
                            <tr class="table-secondary">
                                <td>@i</td>
                                <td>@visit.VisitRegDateTime</td>
                                <td>@visit.IsOver</td>
                                <td>@guests.Find(x => x.PersonalCode == visit.GuestId).Name</td>
                                <td>STUB</td>
                                <td>@guards.Find(x => x.PersonalCode == visit.GuardId).Name</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="table-success">
                                <td>@i</td>
                                <td>@visit.VisitRegDateTime</td>
                                <td>@visit.IsOver</td>
                                <td>@guests.Find(x => x.PersonalCode == visit.GuestId).Name</td>
                                <td>STUB</td>
                                <td>@guards.Find(x => x.PersonalCode == visit.GuardId).Name</td>
                            </tr>
                        }
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>