@{
    ViewBag.Title = "Visits";
    
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

@{
    List<DataContract.Objects.Visit> visits = ViewBag.Visits;
    List<DataContract.Objects.Guard> guards = ViewBag.Guards;
    DataContract.Data.GuestRepository guestRepository = new DataContract.Data.GuestRepository();
    DataContract.Data.GuardRepository guardRepository = new DataContract.Data.GuardRepository();
}
<div class="container">
    <h2>Visits:</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Visit Date:</th>
                    <th>Ongoin:</th>
                    <th>Visitor:</th>
                    <th>Is approved:</th>
                    <th>Visit approved by:</th>
                    <th>Available action:</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (DataContract.Objects.Visit visit in visits)
                    {
                        if (visit.IsOver == false)
                        {
                            <tr class="table-secondary">
                                <td>@visit.VisitRegDateTime</td>
                                <td>@visit.IsOver</td>
                                <td>@guestRepository.Read(visit.GuestId).Name @guestRepository.Read(visit.GuestId).Surname </td>
                                <td>@visit.IsConfirmed</td>
                                <td>@guardRepository.Read(visit.GuardId).Name @guardRepository.Read(visit.GuardId).Surname</td>
                                @if (visit.IsConfirmed == false)
                                {
                                    <td>@Html.ActionLink("Approve visit", "Approve", new RouteValueDictionary(visit))</td>
                                }
                                @if (visit.IsConfirmed == true)
                                {
                                    <td>@Html.ActionLink("End visit", "EndVisit", new RouteValueDictionary(visit))</td>
                                }    
                                @if (visit.IsConfirmed == null)
                                {
                                    <td>No action available</td>
                                }  
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>