@model DataContract.Objects.Visit
@{
    ViewBag.Title = "RegisterVisitedGuest";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<style>
    article, aside, figure, footer, header, hgroup,
    menu, nav, section {
        display: block;
    }


    #labels {
        margin-bottom: 20px;
    }

    #buttons {
        margin-left: 20px;
    }
</style>

<h2>Register visit (existing guest)</h2>
<body>
    @using (Html.BeginForm("RegisterVisitedGuest", "Resident", FormMethod.Post, new { id = "submitForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Fill in details about visit</h4>
            <hr />
        </div>
        @Html.ValidationSummary(true, "Test", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("GuestLabel", "Guest:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="labels">
                @Html.DropDownList("GuestId", null, new { @class = "form-control" })
                @Html.ValidationMessage("GuestId", "Guest is manditory field", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
            <button type="button" id="buttons" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Resident")'">Go back</button>
        </div>
    }
</body>