@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<link href="~/Content/loginstyle.css" rel="Stylesheet" type="text/css" />



@using (Html.BeginForm("Login", "Main", FormMethod.Post, new { id = "submitForm" }))
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal" align="center">
        <hr />
        @Html.ValidationSummary(true, "Test", new { @class = "text-danger" })
    </div>


    <div class="login-form">
        <form action="/examples/actions/confirmation.php" method="post">
            <h2 class="text-center">Sign in</h2>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.Editor("Username", new { htmlAttributes = new { @class = "form-control", @placeholder = "Username", @autofocus = "autofocus" } })
                    @Html.ValidationMessage("Username", "Username is manditory field", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @type = "password" } })
                    @Html.ValidationMessage("Password", "Password is manditory field", new { @class = "text-danger" })


                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
            </div>
            <div class="clearfix">
                @Html.CheckBox("remember", false, new { htmlAttributes = new { @class = "pull-left checkbox-inline" } })
                @Html.Label("Remember me")
                @Html.ActionLink("Forgot password?", "ForgotPassword", null, new { @class = "pull-right" })

            </div>
        </form>
    </div>
}