﻿@model DataContract.Objects.Room

@{
    ViewBag.Title = "RegisterRoom";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}
<style>
    article, aside, figure, footer, header, hgroup,
    menu, nav, section {
        display: block;
    }


    #labels {
        margin-bottom: 20px;
    }

    #buttons {
        margin-left: 20px;
    }
</style>
<h2>Register a Room</h2>

<div>
    @using (Html.BeginForm("CreateRoom", "Admin", FormMethod.Post, new { id = "submitForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.Label("DormitoriesLabel", "Room is in:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="labels">
                @Html.DropDownList("DormitoryId", null,  new { @class = "form-control" } )
                @Html.ValidationMessage("DormitoryId", "Dormitory is manditory field", new { @class = "text-danger" })
            </div>
        </div>

        <br>

        <div class="form-group">
            @Html.LabelFor(model => model.Number, "Number:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="labels">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "Number is manditory field", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <button type="button" id="buttons" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Admin")'">Go back</button>
            </div>
        </div>
    }

</div>