﻿@model Tuple<DataContract.Objects.Guard, DataContract.Objects.Dormitory>

@{
    ViewBag.Title = "RegisterGuard";
    Layout = "~/Views/Shared/_WebAppLayout.cshtml";
}

<h2>Register a Guard</h2>

<body>
    @using (Html.BeginForm("CreateGuard", "Admin", FormMethod.Post, new { id = "submitForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.PersonalCode, "Personal code:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(tuple => tuple.Item1.PersonalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(tuple => tuple.Item1.PersonalCode, "Personal code is manditory field", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.Name, "Name:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(tuple => tuple.Item1.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(tuple => tuple.Item1.Name, "Name is manditory field", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item1.Surname, "Surname:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(tuple => tuple.Item1.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(tuple => tuple.Item1.Surname, "Surname is manditory field", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(tuple => tuple.Item2.Name, "Dormitory:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(tuple => tuple.Item2.Name, (IEnumerable<SelectListItem>)ViewBag.Dormitory, new { @class = "form-control", id = "DormitoryId" })
                @Html.ValidationMessageFor(tuple => tuple.Item2.Name, "Dormitory is manditory field", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }

</body>
